html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    padding: 99px 0 0 0;
    height: 100%;
    font-size: 19px;
    color: #333333;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
body * { box-sizing: border-box }
a { color: #000000 }
a:hover { text-decoration: none }
img {
    width: auto;
    max-width: 100%;
}
h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    color: #000000;
}
p {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    padding-bottom: 12px;
    overflow: hidden;
    line-height: 23px;
}
.only-for-print {
    display: none;
}
#menuToggler,
.mobile-list {
    display: none;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
header::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #CCCCCC;
    position: absolute;
    width: 100%;
    top: 99px;
}
.header-wrapper {
    position: relative;
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0 14px 14px -4px rgba(255,255,255,0.75);
    margin: 0 auto;
    padding: 12px 18px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-holder {
    line-height: 16px;
    transition: all 0.5s;
}
.logo-holder img {
    height: 76px;
    transition: all 0.5s;
}
nav.navigation {
    display: flex;
    justify-content: space-between;
}
nav.navigation a {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #017dc7;
    padding: 0 12px;
    text-decoration: none;
    transition: color .5s;
}
nav.navigation a:hover {
    color: #272c7c;
}
nav.navigation a:last-of-type {
    padding-right: 0;
}
.wrapper {
    margin: 0 auto;
    width: 1024px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 18px 12px;
    position: relative;
}
h2.section-heading {
    padding: 12px;
    display: flex;
    justify-content: center;
    position: relative;
}
h2.section-heading span {
    background-color: #FFFFFF;
    position: relative;
    padding: 0 24px;
    font-size: 34px;
    text-transform: uppercase;
}
h2.section-heading::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    top: 51%;
    left: 0;
}
#summary .image-holder {
    float: left;
    margin: 0 12px 12px 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.skills-holder {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.skills-holder ul {
    padding-left: 20px;
    list-style: circle;
    margin-top: 6px;
}
.skills-holder ul li {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 23px;
}
h3 {
    color: #333333;
    text-align: center;
    padding: 6px 0 12px 0;
    font-size: 28px;
}
.company-holder {
    padding-bottom: 12px;
    margin-bottom: 18px;
    border-bottom: 1px solid #CCCCCC;
}
.company-holder:last-of-type,
.education-item:last-of-type {
    border-bottom: none;
}
h4.company-position {
    font-size: 24px;
}
h4.company-position span {
    display: block;
    padding-bottom: 6px;
}
h4.company-position a {
    text-transform: uppercase;
}
.project {
    padding: 12px;
    border-bottom: 1px dashed #EAEAEA;
}
.project:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
.project > strong {
    display: block;
    text-transform: uppercase;
    padding: 6px 0 12px 0;
}
.education-item {
    font-size: 22px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px dashed #EAEAEA;
}
.education-item span {
    color: #777777;
    font-size: 16px;
}
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.gallery-item {
    width: 48%;
    position: relative;
    text-align: center;
    margin: 12px 0;
    border-radius: 3px;
    overflow: hidden;
}
.gallery-item img {
    max-height: 470px;
}
.item-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 48px 0 rgba(255, 255, 255, 1);
}
.social-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.social-holder a {
    width: 30%;
    text-align: center;
}
.social-holder a span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
}
.social-holder a img {
    height: 60px;
}
.connection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.connection a,
.connection div {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}
.connection span {
    padding-left: 18px;
}
.connection img {
    height: 60px;
}
#topButton {
    display: none;
    position: fixed;
    bottom: 36px;
    right: 48px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none;
    opacity: 0.7;
    color: #5574b0;
    outline: none;
}
#topButton:hover {
    opacity: 1;
}
#downloadButton {
    position: fixed;
    top: 18px;
    right: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.75;
    background-color: #FFFFFF;
    color: #149741;
    display: flex;
    outline: none;
    text-decoration: none;
    z-index: 10;
}
#downloadButton img {
    width: 60px;
}
#downloadButton:hover {
    opacity: 1;
}
#downloadButton::before {
    width: 0;
    display: block;
    content: 'Download as PDF';
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #FFFFFF;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: width .3s ease-out;
    text-align: center;
    opacity: .88;
    z-index: 0;
}
#downloadButton:hover::before {
    width: 100px;
    border: 1px solid #CCCCCC;
    z-index: 10;
}

@media screen and (max-width: 1275px) {
    #downloadButton {
        right: 12px;
    }
}

@media screen and (max-width: 1205px) {
    #topButton, #downloadButton { right: 3px }
}

@media screen and (max-width: 1135px) {
    #downloadButton {
        top: 100px;
        line-height: 0;
        height: 48px;
    }
    #downloadButton img {
        width: 48px;
    }
    #downloadButton::before {
        top: -28px;
        right: 6px;
        line-height: 15px;
    }
}

@media screen and (max-width: 1060px) {
    .wrapper,
    .header-wrapper {
        width: 100%;
        border: none;
    }
    .wrapper {
        padding-right: 32px;
    }
    #topButton, #downloadButton { right: 0 }
    header::before { display: none }
    .header-wrapper { border-bottom: 1px solid #CCCCCC }
}
@media screen and (max-width: 890px) {
    body {
        padding-top: 124px;
    }
    .header-wrapper {
        flex-direction: column;
        height: 124px;
    }
    .header-wrapper nav a {
        padding: 6px;
    }
    .social-holder {
        flex-wrap: wrap;
    }
    .social-holder a {
        width: 100%;
        margin-bottom: 12px;
    }
    body.scrolled {
        padding-top: 66px;
    }
    .scrolled .header-wrapper {
        height: 60px;
        justify-content: flex-start;
    }
    .scrolled .logo-holder {
        line-height: 0;
    }
    .scrolled .logo-holder img {
        height: 0;
    }
    .scrolled .header-wrapper nav a {
        padding: 0 6px;
    }
    #downloadButton {
        top: 126px;
    }
    body.scrolled #downloadButton {
        top: 60px;
    }
    body #downloadButton::before {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .header-wrapper nav a {
        padding: 6px 3px;
        font-size: 16px;
    }
    .skills-holder {
        flex-direction: column;
    }
    .gallery-item {
        width: 100%;
    }
    .connection {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    p, .skills-holder ul li {
        font-size: 16px;
    }
    h2.section-heading span {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4.company-position, .education-item {
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .header-wrapper nav a {
        padding: 6px 2px;
        font-size: 15px;
    }
    h2.section-heading span {
        font-size: 30px;
        padding: 0 12px;
        text-align: center;
    }
    h3 {
        font-size: 26px;
    }
}
@media print {
    @page {
        margin: 0 !important;
        size: A4 landscape;
    }
    body {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    body * {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
    .only-for-print {
        display: block !important;
    }
    .not-for-print {
        display: none !important;
    }
    .break-page-before {
        page-break-before: always !important;
    }
    .logo.only-for-print {
        position: fixed;
        top: 12px;
        left: 8px;
    }
    .logo.only-for-print img {
        height: 36px;
    }
    body .wrapper {
        width: 80%;
        border-left: none;
        border-right: none;
        padding: 0;
    }
}
